<div class="left-container">
    <h3 class="title-name">Alejandro Huerta</h3>
    <span class="subheader">
        <h2>Full Stack javascript Developer Engineer JavaScript, Node.js Angular, React, MongoDB, Redux, Firebase, HTML5 and CSS3</h2>
    </span>
    <img src="./me.jpeg" border="0" alt=" /angublog/apple-touch-icon.png" />
    <br>
    <a href='https://github.com/ahuertam'><i class="fa fa-github fa-2x fa-fw"></i></a>
    <a href='https://www.linkedin.com/in/alejandrohuertaengineer'><i class="fa fa-linkedin fa-2x fa-fw"></i></a>
    <a href='https://angel.co/alejandro-huerta'><i class="fa fa-angellist fa-2x fa-fw"></i></a>
    <a href='mailto:ahuertam@yahoo.es'><i class="fa fa-rebel fa-2x fa-fw"></i></a>
</div>